/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
	margin: 0;
	background-color: #a0a0a0;
	height: 100%;
	width: 100%;
	padding: 0px;
	font-family: Tahoma,Verdana,Helvetica,sans-serif;
	font-size: 12px;
}
h1{	
	text-align: center;	
}
a{
	text-decoration: none;
	font-weight: normal;
}
.main_body{
	margin: 0 auto;
	text-align: justify;
}
#main{
	margin: 0 auto;
	width: 900px;
	height: 100%;
	background-color: #ffffff;
	position: relative;
	padding: 0;
	display: block;
}
.link_main{
	color: rgb(136, 145, 168);
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 0px;
	font-size: 16px;
	margin-left: 0px;
}
.link_head{
	color: rgb(136, 145, 168);
}
#header{
	margin: 0;
	color: rgb(136, 145, 168);
	width: 100%;
}
#hrf{
	font-size: 16px;
}
.top_links{
	display: inline-block;
	position: absolute;
	right: 5%;
}
.menu{
	display: inline;
}
.search{
	width: 20%;
	position: absolute;
	right: 5%;
	border: 1px solid #000;
}
.main_menu{
	top: -5px;
	height: 18px;
	margin: 0;
	position: relative;
	background-color: #808aa3;
}
.m_menu{
	margin: 0;
	position: relative;
	display: inline;
	width: 100%;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
}
.menu_items{
	margin: 0;
	margin-left: 5%;
	color: #ffffff;
	vertical-align: bottom;
	display: inline-block;
}
.search_form{
	text-align: center;
	display: inline;
	position: relative;
	right: 0;
}
#menu_item1{
	margin-left: 2%;
}
#menu_item2{
	margin-left: 3%;
}
.menu_link{
	font-weight: bold;
	color: #ffffff;
}
#content{
	position: relative;
	top: -5px;
	font-size: 12px;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	width: 100%;
	min-height: 900px;
}
#left_menu{
	background-color: #edf2fa;
	margin: 0;
	width: 207px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}
h2{
	padding-top: 5px;
	font-size: 12px;
	text-align: center;
	color: #4c5772;
	position: inline;
	vertical-align: middle;
	margin: 0;
	width: 100%;
	height: 23px;
	background-image: url(/images/h2_background.gif);
	background-repeat: repeat-x;
}
#display_news{
	width: 100%;
	height: 100px;
}
#about_bottom{
	color: #ffffff;
	margin: 0px;
	width: 100%;
	display: inline-block;
	position: relative;
	text-align: center;
	background-color: #808aa3;
	top: 100%;
}
#bottom_links{
	font-family: Tahoma,Verdana,Helvetica,sans-serif;
	margin: 0px;
	width: 100%;
	background-color: #edf2fa;
	height: 50px;
	display: inline-block;
	position: relative;
	text-align: center;
}

.title{
	font-weight: bold;
	font-size: 14px;
	margin-left: 10%;
}

.login_form{
	margin-top: 10%;
	display: block;
	width: 50%;
	margin: 0 auto;
}
input{
	position: relative;
	display: inline-box;
}
table{
	font-family: Tahoma,Verdana,Helvetica,sans-serif;
	width: 100%;
	height: 80%;
}
.add_news{
	width: 95%;
	margin: 0 auto;
	height: 85%;
}
.out_body{
	font-family: Tahoma,Verdana,Helvetica,sans-serif;
	width: 70%;
	height: 100%;
}
#display_links{
	font-family: Tahoma,Verdana,Helvetica,sans-serif;
	font-size: 14px;
	text-align: center;
}
#display_news{
	font-family: Tahoma,Verdana,Helvetica,sans-serif;
	text-align: center;
}