// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.news_table{
	margin: 0 auto;
	margin-top: 0;
	display: inline-box;
}
table{
	margin: 0;
	text-align: justify;
	line-height: 1.2em;
}
.post_title{
	font_weight: bold;
}
p{
	font-weight: normal;
	font-family: Tahoma,Verdana,Helvetica,sans-serif;
}
h1{
	font-size: 14px;
}
#page_name{
	margin-left: 10px;
	color: rgb(136, 145, 168);
	font-size: 16px;
}